@import "tailwindcss";

.fraunces {
  font-family: "Fraunces", serif;
  font-weight: 500;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-style: normal;
}